.chaospace-theme {
  font-family: var(--font-sans);
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  font-feature-settings:
    'kern' 1,
    'liga' 1;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  color: var(--cp-text-primary);
}

.chaospace-theme.chaospace-font-hidpi {
  text-rendering: optimizeLegibility;
}

.chaospace-theme.chaospace-font-mac,
.chaospace-theme.chaospace-font-retina {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.chaospace-theme.chaospace-font-windows {
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

.chaospace-theme.chaospace-font-windows-hidpi {
  -webkit-font-smoothing: subpixel-antialiased;
}
